/bin/Debug/net10.0/.playwright/node/win32_x64/node.exe
/bin/Debug/net10.0/.playwright/node/LICENSE
/bin/Debug/net10.0/.playwright/package/bin/install_media_pack.ps1
/bin/Debug/net10.0/.playwright/package/bin/install_webkit_wsl.ps1
/bin/Debug/net10.0/.playwright/package/bin/reinstall_chrome_beta_linux.sh
/bin/Debug/net10.0/.playwright/package/bin/reinstall_chrome_beta_mac.sh
/bin/Debug/net10.0/.playwright/package/bin/reinstall_chrome_beta_win.ps1
/bin/Debug/net10.0/.playwright/package/bin/reinstall_chrome_stable_linux.sh
/bin/Debug/net10.0/.playwright/package/bin/reinstall_chrome_stable_mac.sh
/bin/Debug/net10.0/.playwright/package/bin/reinstall_chrome_stable_win.ps1
/bin/Debug/net10.0/.playwright/package/bin/reinstall_msedge_beta_linux.sh
/bin/Debug/net10.0/.playwright/package/bin/reinstall_msedge_beta_mac.sh
/bin/Debug/net10.0/.playwright/package/bin/reinstall_msedge_beta_win.ps1
/bin/Debug/net10.0/.playwright/package/bin/reinstall_msedge_dev_linux.sh
/bin/Debug/net10.0/.playwright/package/bin/reinstall_msedge_dev_mac.sh
/bin/Debug/net10.0/.playwright/package/bin/reinstall_msedge_dev_win.ps1
/bin/Debug/net10.0/.playwright/package/bin/reinstall_msedge_stable_linux.sh
/bin/Debug/net10.0/.playwright/package/bin/reinstall_msedge_stable_mac.sh
/bin/Debug/net10.0/.playwright/package/bin/reinstall_msedge_stable_win.ps1
/bin/Debug/net10.0/.playwright/package/lib/entry/cliDaemon.js
/bin/Debug/net10.0/.playwright/package/lib/entry/dashboardApp.js
/bin/Debug/net10.0/.playwright/package/lib/entry/mcp.js
/bin/Debug/net10.0/.playwright/package/lib/entry/oopBrowserDownload.js
/bin/Debug/net10.0/.playwright/package/lib/server/chromium/appIcon.png
/bin/Debug/net10.0/.playwright/package/lib/server/electron/loader.js
/bin/Debug/net10.0/.playwright/package/lib/server/deviceDescriptorsSource.json
/bin/Debug/net10.0/.playwright/package/lib/tools/cli-client/skill/references/element-attributes.md
/bin/Debug/net10.0/.playwright/package/lib/tools/cli-client/skill/references/playwright-tests.md
/bin/Debug/net10.0/.playwright/package/lib/tools/cli-client/skill/references/request-mocking.md
/bin/Debug/net10.0/.playwright/package/lib/tools/cli-client/skill/references/running-code.md
/bin/Debug/net10.0/.playwright/package/lib/tools/cli-client/skill/references/session-management.md
/bin/Debug/net10.0/.playwright/package/lib/tools/cli-client/skill/references/spec-driven-testing.md
/bin/Debug/net10.0/.playwright/package/lib/tools/cli-client/skill/references/storage-state.md
/bin/Debug/net10.0/.playwright/package/lib/tools/cli-client/skill/references/test-generation.md
/bin/Debug/net10.0/.playwright/package/lib/tools/cli-client/skill/references/tracing.md
/bin/Debug/net10.0/.playwright/package/lib/tools/cli-client/skill/references/video-recording.md
/bin/Debug/net10.0/.playwright/package/lib/tools/cli-client/skill/SKILL.md
/bin/Debug/net10.0/.playwright/package/lib/tools/cli-client/channelSessions.js
/bin/Debug/net10.0/.playwright/package/lib/tools/cli-client/cli.js
/bin/Debug/net10.0/.playwright/package/lib/tools/cli-client/help.json
/bin/Debug/net10.0/.playwright/package/lib/tools/cli-client/minimist.js
/bin/Debug/net10.0/.playwright/package/lib/tools/cli-client/output.js
/bin/Debug/net10.0/.playwright/package/lib/tools/cli-client/program.js
/bin/Debug/net10.0/.playwright/package/lib/tools/cli-client/registry.js
/bin/Debug/net10.0/.playwright/package/lib/tools/cli-client/session.js
/bin/Debug/net10.0/.playwright/package/lib/tools/dashboard/appIcon.png
/bin/Debug/net10.0/.playwright/package/lib/tools/trace/SKILL.md
/bin/Debug/net10.0/.playwright/package/lib/tools/utils/extension.js
/bin/Debug/net10.0/.playwright/package/lib/tools/utils/socketConnection.js
/bin/Debug/net10.0/.playwright/package/lib/vite/dashboard/assets/codicon-DCmgc-ay.ttf
/bin/Debug/net10.0/.playwright/package/lib/vite/dashboard/assets/firefox-1bWoP6pv.svg
/bin/Debug/net10.0/.playwright/package/lib/vite/dashboard/assets/firefox-beta-k3eOH_eK.svg
/bin/Debug/net10.0/.playwright/package/lib/vite/dashboard/assets/firefox-nightly-Cp5nfeDT.svg
/bin/Debug/net10.0/.playwright/package/lib/vite/dashboard/assets/index-BY2S1tHT.css
/bin/Debug/net10.0/.playwright/package/lib/vite/dashboard/assets/index-C_5TMfeg.js
/bin/Debug/net10.0/.playwright/package/lib/vite/dashboard/assets/safari-na3_-uQk.svg
/bin/Debug/net10.0/.playwright/package/lib/vite/dashboard/index.html
/bin/Debug/net10.0/.playwright/package/lib/vite/dashboard/playwright-logo.svg
/bin/Debug/net10.0/.playwright/package/lib/vite/htmlReport/index.html
/bin/Debug/net10.0/.playwright/package/lib/vite/htmlReport/report.css
/bin/Debug/net10.0/.playwright/package/lib/vite/htmlReport/report.js
/bin/Debug/net10.0/.playwright/package/lib/vite/recorder/assets/codeMirrorModule-DeBYQozu.js
/bin/Debug/net10.0/.playwright/package/lib/vite/recorder/assets/codeMirrorModule-DYBRYzYX.css
/bin/Debug/net10.0/.playwright/package/lib/vite/recorder/assets/codicon-DCmgc-ay.ttf
/bin/Debug/net10.0/.playwright/package/lib/vite/recorder/assets/index-4ZiSSCmn.css
/bin/Debug/net10.0/.playwright/package/lib/vite/recorder/assets/index-Bq-mQf8S.js
/bin/Debug/net10.0/.playwright/package/lib/vite/recorder/index.html
/bin/Debug/net10.0/.playwright/package/lib/vite/recorder/playwright-logo.svg
/bin/Debug/net10.0/.playwright/package/lib/vite/traceViewer/assets/codeMirrorModule-LEHpjmcn.js
/bin/Debug/net10.0/.playwright/package/lib/vite/traceViewer/assets/defaultSettingsView-BNmKHKpQ.js
/bin/Debug/net10.0/.playwright/package/lib/vite/traceViewer/assets/urlMatch-BYQrIQwR.js
/bin/Debug/net10.0/.playwright/package/lib/vite/traceViewer/assets/xtermModule-CsJ4vdCR.js
/bin/Debug/net10.0/.playwright/package/lib/vite/traceViewer/codeMirrorModule.DYBRYzYX.css
/bin/Debug/net10.0/.playwright/package/lib/vite/traceViewer/codicon.DCmgc-ay.ttf
/bin/Debug/net10.0/.playwright/package/lib/vite/traceViewer/defaultSettingsView.CjdS-WJx.css
/bin/Debug/net10.0/.playwright/package/lib/vite/traceViewer/index.CzXZzn5A.css
/bin/Debug/net10.0/.playwright/package/lib/vite/traceViewer/index.DMMX1gXU.js
/bin/Debug/net10.0/.playwright/package/lib/vite/traceViewer/index.html
/bin/Debug/net10.0/.playwright/package/lib/vite/traceViewer/manifest.webmanifest
/bin/Debug/net10.0/.playwright/package/lib/vite/traceViewer/playwright-logo.svg
/bin/Debug/net10.0/.playwright/package/lib/vite/traceViewer/snapshot.html
/bin/Debug/net10.0/.playwright/package/lib/vite/traceViewer/snapshot.v8KI4P3m.js
/bin/Debug/net10.0/.playwright/package/lib/vite/traceViewer/sw.bundle.js
/bin/Debug/net10.0/.playwright/package/lib/vite/traceViewer/uiMode.BZQ54Kgt.css
/bin/Debug/net10.0/.playwright/package/lib/vite/traceViewer/uiMode.html
/bin/Debug/net10.0/.playwright/package/lib/vite/traceViewer/uiMode.Ut8wwJNp.js
/bin/Debug/net10.0/.playwright/package/lib/vite/traceViewer/xtermModule.DYP7pi_n.css
/bin/Debug/net10.0/.playwright/package/lib/bootstrap.js
/bin/Debug/net10.0/.playwright/package/lib/coreBundle.js
/bin/Debug/net10.0/.playwright/package/lib/package.js
/bin/Debug/net10.0/.playwright/package/lib/serverRegistry.js
/bin/Debug/net10.0/.playwright/package/lib/serverRegistry.js.LICENSE
/bin/Debug/net10.0/.playwright/package/lib/utilsBundle.js
/bin/Debug/net10.0/.playwright/package/lib/utilsBundle.js.LICENSE
/bin/Debug/net10.0/.playwright/package/lib/xdg-open
/bin/Debug/net10.0/.playwright/package/types/protocol.d.ts
/bin/Debug/net10.0/.playwright/package/types/structs.d.ts
/bin/Debug/net10.0/.playwright/package/types/types.d.ts
/bin/Debug/net10.0/.playwright/package/browsers.json
/bin/Debug/net10.0/.playwright/package/cli.js
/bin/Debug/net10.0/.playwright/package/index.d.ts
/bin/Debug/net10.0/.playwright/package/index.js
/bin/Debug/net10.0/.playwright/package/index.mjs
/bin/Debug/net10.0/.playwright/package/LICENSE
/bin/Debug/net10.0/.playwright/package/NOTICE
/bin/Debug/net10.0/.playwright/package/package.json
/bin/Debug/net10.0/.playwright/package/README.md
/bin/Debug/net10.0/.playwright/package/ThirdPartyNotices.txt
/bin/Debug/net10.0/runtimes/win/lib/net8.0/System.Security.Cryptography.Pkcs.dll
/bin/Debug/net10.0/appsettings.json
/bin/Debug/net10.0/debug_all_inputs.txt
/bin/Debug/net10.0/debug_homepage.png
/bin/Debug/net10.0/homepage.png
/bin/Debug/net10.0/Microsoft.AspNetCore.Antiforgery.dll
/bin/Debug/net10.0/Microsoft.AspNetCore.Authentication.Abstractions.dll
/bin/Debug/net10.0/Microsoft.AspNetCore.Authentication.Core.dll
/bin/Debug/net10.0/Microsoft.AspNetCore.Authorization.dll
/bin/Debug/net10.0/Microsoft.AspNetCore.Authorization.Policy.dll
/bin/Debug/net10.0/Microsoft.AspNetCore.Cryptography.Internal.dll
/bin/Debug/net10.0/Microsoft.AspNetCore.DataProtection.Abstractions.dll
/bin/Debug/net10.0/Microsoft.AspNetCore.DataProtection.dll
/bin/Debug/net10.0/Microsoft.AspNetCore.Diagnostics.Abstractions.dll
/bin/Debug/net10.0/Microsoft.AspNetCore.Hosting.Abstractions.dll
/bin/Debug/net10.0/Microsoft.AspNetCore.Hosting.Server.Abstractions.dll
/bin/Debug/net10.0/Microsoft.AspNetCore.Html.Abstractions.dll
/bin/Debug/net10.0/Microsoft.AspNetCore.Http.Abstractions.dll
/bin/Debug/net10.0/Microsoft.AspNetCore.Http.dll
/bin/Debug/net10.0/Microsoft.AspNetCore.Http.Extensions.dll
/bin/Debug/net10.0/Microsoft.AspNetCore.Http.Features.dll
/bin/Debug/net10.0/Microsoft.AspNetCore.JsonPatch.dll
/bin/Debug/net10.0/Microsoft.AspNetCore.Mvc.Abstractions.dll
/bin/Debug/net10.0/Microsoft.AspNetCore.Mvc.Core.dll
/bin/Debug/net10.0/Microsoft.AspNetCore.Mvc.DataAnnotations.dll
/bin/Debug/net10.0/Microsoft.AspNetCore.Mvc.Formatters.Json.dll
/bin/Debug/net10.0/Microsoft.AspNetCore.Mvc.Razor.dll
/bin/Debug/net10.0/Microsoft.AspNetCore.Mvc.Razor.Extensions.dll
/bin/Debug/net10.0/Microsoft.AspNetCore.Mvc.RazorPages.dll
/bin/Debug/net10.0/Microsoft.AspNetCore.Mvc.ViewFeatures.dll
/bin/Debug/net10.0/Microsoft.AspNetCore.Razor.dll
/bin/Debug/net10.0/Microsoft.AspNetCore.Razor.Language.dll
/bin/Debug/net10.0/Microsoft.AspNetCore.Razor.Runtime.dll
/bin/Debug/net10.0/Microsoft.AspNetCore.ResponseCaching.Abstractions.dll
/bin/Debug/net10.0/Microsoft.AspNetCore.Routing.Abstractions.dll
/bin/Debug/net10.0/Microsoft.AspNetCore.Routing.dll
/bin/Debug/net10.0/Microsoft.AspNetCore.WebUtilities.dll
/bin/Debug/net10.0/Microsoft.Bcl.AsyncInterfaces.dll
/bin/Debug/net10.0/Microsoft.CodeAnalysis.CSharp.dll
/bin/Debug/net10.0/Microsoft.CodeAnalysis.dll
/bin/Debug/net10.0/Microsoft.CodeAnalysis.Razor.dll
/bin/Debug/net10.0/Microsoft.DotNet.PlatformAbstractions.dll
/bin/Debug/net10.0/Microsoft.Extensions.Caching.Abstractions.dll
/bin/Debug/net10.0/Microsoft.Extensions.Caching.Memory.dll
/bin/Debug/net10.0/Microsoft.Extensions.Configuration.Abstractions.dll
/bin/Debug/net10.0/Microsoft.Extensions.Configuration.dll
/bin/Debug/net10.0/Microsoft.Extensions.Configuration.FileExtensions.dll
/bin/Debug/net10.0/Microsoft.Extensions.Configuration.Json.dll
/bin/Debug/net10.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/bin/Debug/net10.0/Microsoft.Extensions.DependencyInjection.dll
/bin/Debug/net10.0/Microsoft.Extensions.DependencyModel.dll
/bin/Debug/net10.0/Microsoft.Extensions.Diagnostics.Abstractions.dll
/bin/Debug/net10.0/Microsoft.Extensions.FileProviders.Abstractions.dll
/bin/Debug/net10.0/Microsoft.Extensions.FileProviders.Composite.dll
/bin/Debug/net10.0/Microsoft.Extensions.FileProviders.Physical.dll
/bin/Debug/net10.0/Microsoft.Extensions.FileSystemGlobbing.dll
/bin/Debug/net10.0/Microsoft.Extensions.Hosting.Abstractions.dll
/bin/Debug/net10.0/Microsoft.Extensions.Localization.Abstractions.dll
/bin/Debug/net10.0/Microsoft.Extensions.Localization.dll
/bin/Debug/net10.0/Microsoft.Extensions.Logging.Abstractions.dll
/bin/Debug/net10.0/Microsoft.Extensions.ObjectPool.dll
/bin/Debug/net10.0/Microsoft.Extensions.Options.dll
/bin/Debug/net10.0/Microsoft.Extensions.Primitives.dll
/bin/Debug/net10.0/Microsoft.Extensions.WebEncoders.dll
/bin/Debug/net10.0/Microsoft.Net.Http.Headers.dll
/bin/Debug/net10.0/Microsoft.Playwright.dll
/bin/Debug/net10.0/Newtonsoft.Json.Bson.dll
/bin/Debug/net10.0/Newtonsoft.Json.dll
/bin/Debug/net10.0/playwright.ps1
/bin/Debug/net10.0/PlaywrightScraper.deps.json
/bin/Debug/net10.0/PlaywrightScraper.dll
/bin/Debug/net10.0/PlaywrightScraper.exe
/bin/Debug/net10.0/PlaywrightScraper.pdb
/bin/Debug/net10.0/PlaywrightScraper.runtimeconfig.json
/bin/Debug/net10.0/PowerRates.csv
/bin/Debug/net10.0/result.png
/bin/Debug/net10.0/System.Security.Cryptography.Pkcs.dll
/bin/Debug/net10.0/System.Security.Cryptography.Xml.dll
/obj/Debug/net10.0/ref/PlaywrightScraper.dll
/obj/Debug/net10.0/refint/PlaywrightScraper.dll
/obj/Debug/net10.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
/obj/Debug/net10.0/apphost.exe
/obj/Debug/net10.0/Playwrig.8C2C46D9.Up2Date
/obj/Debug/net10.0/PlaywrightScraper.AssemblyInfo.cs
/obj/Debug/net10.0/PlaywrightScraper.AssemblyInfoInputs.cache
/obj/Debug/net10.0/PlaywrightScraper.assets.cache
/obj/Debug/net10.0/PlaywrightScraper.csproj.AssemblyReference.cache
/obj/Debug/net10.0/PlaywrightScraper.csproj.BuildWithSkipAnalyzers
/obj/Debug/net10.0/PlaywrightScraper.csproj.CoreCompileInputs.cache
/obj/Debug/net10.0/PlaywrightScraper.csproj.FileListAbsolute.txt
/obj/Debug/net10.0/PlaywrightScraper.dll
/obj/Debug/net10.0/PlaywrightScraper.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net10.0/PlaywrightScraper.genruntimeconfig.cache
/obj/Debug/net10.0/PlaywrightScraper.GlobalUsings.g.cs
/obj/Debug/net10.0/PlaywrightScraper.pdb
/obj/Debug/net10.0/PlaywrightScraper.sourcelink.json
/obj/PlaywrightScraper.csproj.nuget.dgspec.json
/obj/PlaywrightScraper.csproj.nuget.g.props
/obj/PlaywrightScraper.csproj.nuget.g.targets
/obj/project.assets.json
/obj/project.nuget.cache
/.gitignore
/PlaywrightScraper.csproj.Backup.tmp
